<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <h1>
            <%= title %>
        </h1>

        <form id="sentenceForm" method="POST">
            <input type="text" name="sentence" placeholder="enter text here">
            <button class="submit">submit</button>
        </form>

    </body>
    <% include ./partials/scripts %>

</html>