<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>
    </body>
    <% include ./partials/scripts %>

</html>