<!DOCTYPE html>
<html>
<% include ./partials/header %>

    <body>
        <div id='container'>
            <!--<div class='video-container'>-->
            <!--<div class='video'>-->
            <h1>
                <%= title %>
            </h1>

            <form id="sentenceForm">
                <input id="toDefine" type="text" name="sentence" placeholder="enter text here">
                <button id="clickSubmit">send</button>
            </form>

            <div id="defs">
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </body>
    <% include ./partials/scripts %>

</html>